<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        body{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
       i{
        font-size: 3rem;
       }
    </style>
</head>
<body>
    <div class="resetemai">
        <i class="ri-mail-check-line"><p>reset mail has been sent</p></i> <p>Please check your mail</p>
        
    </div>
    
</body>
</html>