<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .form{
      padding-top: 5rem;
      padding-left: 3rem;
    }
    button{
      background-color: #444B4F;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
    
  </style>
</head>
<body>
  
  <div class="form">
    <h2 class="text-center">Reset your password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send password reset email</button>
      <p> - Please enter password which is used at the time of registration</p>
  </div>
 
</form>
</body>
</html>